body {
    font-family: monospace;
    font-size: large;
}

.page-header {
    text-align: center;
    font-size: larger;
}

.section-header {
    padding-top: 15px;
    padding-bottom: 20px;
}

.table-wrapper {
    height: 530px;
    overflow-y: auto;
}

table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    table-layout: fixed;
}

th, td, li {
    padding-top: 4.5px;
    padding-bottom: 4.5px;
}

th {
    font-weight: normal;
    text-decoration: underline;
}

.bookmarks-container, .tasks-container {
    height: 650px;
}

.bookmarks-container {
    float: left;
    width: calc(66.666% - 20px);
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}

.tasks-container {
    float: right;
    width: calc(33.333% - 20px);
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}

.ol-wrapper {
    height: 540px;
    min-width: 100%;
    overflow-y: auto;
    border: 1px solid black;
}

ol {
    margin: 0px;
}

.task, .task-completed {
    cursor: pointer;
}

.task-completed {
    text-decoration: line-through;
}

.tasks-menu-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.ol-wrapper {
    max-width: fit-content;
}

.li-wrapper {
    display: inline-block;
}

button {
    cursor: pointer;
}

.settings-menu {
    position: absolute;
    visibility: hidden;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}

.settings-menu-container {
    margin: 10px;
    padding: 10px;
    width: 50%;
    border: 1px solid black;
}

.settings-container {
    border: 1px solid black;
    height: max-content;
    padding: 10px;
}

.close-btn {
    float: right;
}

.btn-popup-container, .edit-task-container {
    display: none;
}

.btn-popup-container {
    padding-left: 8px;
}

.edit-task-container {
    vertical-align: 9px;
}

.task-container {
    max-height: 27px;
}
